Yuksel_Sales_Website_MVC_WCF/Connected Services/GetProductsWCFService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getProductsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buyProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="product_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sales_count" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buyProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buyProductResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="product_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="product_description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="product_price" type="xs:double" />
        <xs:element minOccurs="0" name="product_stock_count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewProductResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>